<div class="mb-6">
  <%= form.label field, label, class: 'block text-sm font-semibold text-gray-700' %>

  <% if field == :topping_ids %>
    <% if @toppings.any? %>  <!-- Check if toppings are available -->
      <div class="grid grid-cols-2 gap-4 mt-2">
        <%= form.collection_check_boxes :topping_ids, @toppings, :id, :name do |b| %>
          <div class="flex items-center space-x-2">
            <%= b.check_box(class: 'form-checkbox h-4 w-4 text-blue-500') %>
            <%= b.label(class: 'text-sm text-gray-700') { b.object.name } %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-sm text-gray-500 mt-2">No toppings available</p>
    <% end %>
  <% else %>
    <%= form.text_field field, class: 'mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500' %>
  <% end %>
</div>
